{% extends 'layout.html' %}

{% block body %}
  <h1> Dublin </h1>
  <div id="dublinmap"></div>
  <div id="try"> 1 </div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-IvyG8VIRCmxjbqpJoPJQvcVTW6NkKFQ&callback=initmymap">
  </script>
  <script>
    function initmymap(){
      var dbmap=new google.maps.LatLng(53.3393,-6.267);
      var map = new google.maps.Map(document.getElementById("dublinmap"),{
        center: dbmap,
        zoom:14,
      });
      var infoWindow = new google.maps.InfoWindow;
      stationData={{stationData|tojson|safe}}
      stationData.forEach(function(element) {
        var station = new google.maps.LatLng(element[3], element[4]);
        var infowincontent = document.createElement('div');
        var strong = document.createElement('strong');
        strong.textContent = 'Station Number : '+element[0]+' Station Name : ';
        infowincontent.appendChild(strong);
        infowincontent.appendChild(document.createElement('br'));

        var text = document.createElement('text');
        text.textContent = element[3];
        infowincontent.appendChild(text);

        var marker = new google.maps.Marker({
          position: station,
          map: map
        });
        marker.addListener('click', function() {
          infoWindow.setContent(infowincontent);
          infoWindow.open(map, marker);
        });

        document.getElementById('try').innerHTML += element[0]+"<br>";
      });
    }
  </script>
{% endblock %}


    
   
            
    