{% extends 'layout.html' %}
{% block body %}

 <form id="searchForm" autocomplete="off">
    <legend>Search for the suitable stations.</legend>
    <input type="radio" name="searchOption" value="Station Name" checked>Station Name
    <input type="radio" name="searchOption" value="Station Number">Station Number
    <input type="radio" name="searchOption" value="Station Address">Station address
    <input type="radio" name="searchOption" value="Your address">Your address<br>
    <input id="stationId" type="text" name="target" placeholder="Please input the station name or target address">
    <br>
    <div id="match"></div>
    <input id="search" type="submit" value="Submit">
</form>

<script>

stationData={{stationData|tojson|safe}}

$("#searchForm").bind("input propertychange",function(){
  sub(0);
});

$("#searchForm").submit(function(evt){
  evt.preventDefault();
  sub(1);
});

function sub(n){
  var content=$("#stationId").val();
  var method=$("input[name=searchOption]:checked").val();
  var stationList=[];
  document.getElementById("match").innerHTML='';
  if(n==1 && method=="Your address"){
    data_to_backend = {'Id':'searchForm','address':content};
    $.post("{{url_for('test00')}}", data_to_backend, function(data){
      data=JSON.parse(data);
      window.location.href="/station/"+data['station'];
    });
  }else{
    for(var i=0; i<stationData.length; i++){
      switch (method) {
        case "Station Name":
          if(stationData[i][1].replace(/[ ]/g,"").toLowerCase().indexOf(content.replace(/[ ]/g,"").toLowerCase())>=0){
            if(n==0){
              document.getElementById("match").innerHTML += "<a href='/station/"+stationData[i][0]+"'>"+stationData[i][1]+'</a><br>';
            }else{
              stationList.push(stationData[i][0]);
              }
            }
          break;
        case "Station Number":
          if(n==0){
            if(stationData[i][0].toString().replace(/[ ]/g,"").indexOf(content.toString().replace(/[ ]/g,""))>=0){
              document.getElementById("match").innerHTML += "<a href='/station/"+stationData[i][0]+"'>"+stationData[i][0]+'</a><br>';
            }
          } else{
            var testlist = [parseInt(stationData[i][0]),]
            if(testlist.includes(parseInt(content))){
              stationList.push(stationData[i][0]);
            }
          };
          break;
        case "Station Address":
          if(stationData[i][2].toLowerCase().replace(/[ ]/g,"").indexOf(content.replace(/[ ]/g,"").toLowerCase())>=0){
            if(n==0){
              document.getElementById("match").innerHTML += "<a href='/station/"+stationData[i][0]+"'>"+stationData[i][2]+'</a><br>';
            }
            else{
              stationList.push(stationData[i][0]);
            }
          };
          break;
      }
    }
    if (n==1){
      if(stationList.length==1){
        window.location.href="/station/"+stationList[0];
      }else{
        alert("Your station is not correct.")
      }
    }
  }
}

</script>
{% endblock %}
